.project_button:hover{
  box-shadow: 0px 0px 15px rgb(0,0,0,0.9);
}
.skills:hover{
  box-shadow: 0px 0px 15px rgb(0,0,0,0.9);
  cursor: pointer;
}
.btn{
    border-radius:20px;
}
.btn:hover{
  box-shadow: 0px 0px 15px rgb(0,0,0,0.9);
}